<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cinema</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/session/">Cinema</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/session/">Sessions</a></li>
            <li><a href="/customer/">Customers</a></li>
        </ul>
    </div>
</nav>

<div class="form-inline">
    <div class="input-group">
        <div class="input-group-addon">Session id</div>
        <input class="form-control" id="customerId" name="customerId" type="text" th:value="${item.customerId}" disabled/>
    </div>

    <div class="input-group">
        <label class="input-group-addon">Name</label>
        <input class="form-control" id="name" name="name" type="text" th:value="${item.name}" required/>
    </div>

    <div class="btn-group ">
        <input type="button" class="btn btn-success" id="btnOk" value="Ok" />
        <input type="button" class="btn btn-default" id="btnCancel" value="Cancel" />
    </div>
</div>

<script src="../../resources/js/jquery.js"></script>
<script src="../../resources/js/bootstrap.js"></script>
<script src="../../resources/js/customerView.js"></script>

</body>
</html>