<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>
<body>
    <table>
        <tr>
            <th>Customer Id</th>
            <th>Session Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Quantity tickets</th>
        </tr>
        <tr class="table-row"
            th:if="${customers != null}"
            th:each="item : ${customers}">
            <td th:text="${item.customerId}"></td>
            <td th:text="${item.sessionId}"></td>
            <td th:text="${item.firstName}"></td>
            <td th:text="${item.lastName}"></td>
            <td th:text="${item.quantityTickets}"></td>
        </tr>
    </table>
</body>
</html>