<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Sessions</title>

    <script src="../../resources/static/jquery/jquery-3.1.1.js"></script>

    <script src="../../resources/static/pages/js/cinema.js"></script>

    <script src="../../resources/static/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="../../resources/static/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css"/>

    <script src="../../resources/static/tether-1.3.3/dist/js/tether.min.js"></script>

    <script src="../../resources/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../../resources/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <link href="../../resources/static/pages/css/cinema.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../resources/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse ">
        <a class="navbar-brand" href="/session/getAllWithTickets">
            <span class="hidden-folded inline">Sessions</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <span class="fa fa-plus" aria-hidden="true">Add</span>

                <li class="nav-item active">
                    <a class="nav-link" href="/session/showSession"><span class="fa fa-plus">Add</span></a>
                </li>
            </ul>
            <div class="input-group input-daterange js-filters-date col-5">
                <input type="text" id="firstDate" class="form-control js-filters-date-start" pattern="yyyy"/>
                <span class="input-group-addon">to</span>
                <input type="text" id="secondDate" class="form-control js-filters-date-end" />
                <span class="input-group-addon fa fa-search fa-1x" id="basic-addon1" onclick="showDateToDate()"></span>
            </div>
        </div>
    </nav>

    <div class="col-12" style="">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Movie name</th>
                    <th>Date</th>
                    <th>Tickets</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Movie name</th>
                    <th>Date</th>
                    <th>Tickets</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                <tr class="table-row"
                    th:if="${sessions != null}"
                    th:each="item,iterationStatus : ${sessions}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${item.movieName}"></td>
                    <td th:text="${item.sessionDate}"></td>
                    <td th:text="${item.quantityTickets}"></td>
                    <td>
                        <input type="button" class="btn fa fa-pencil-square-o fa-1x" th:onclick="'showSession(' + ${item.sessionId} + ')'"><span class="" aria-hidden="true"></span></input>
                        <a th:href="'/session/delete?id=' + ${item.sessionId}"><span class="col-2 fa fa-times fa-2x" aria-hidden="true" ></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $('.js-filters-date').datepicker();
    var startDate = $('.js-filters-date-start').datepicker('getDates');
    var endDate = $('.js-filters-date-end').datepicker('getDates');
</script>

<script src="../../resources/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>