<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cinema sessions</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/session/">Cinema</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/session/">Sessions</a></li>
            <li><a href="/customer/">Customers</a></li>
        </ul>
        <form class="form-inline navbar-form navbar-right" method="get" action="/session">
            <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input class="form-control" type="date" id="firstDate" name="firstDate" required>
                <div class="input-group-addon">To:</div>
                <input class="form-control" type="date" id="secondDate" name="secondDate" required>
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-block" id="btnFilter" value="Do it!" />
                </span>
            </div>
        </form>
    </div>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Movie name</th>
            <th>Session date</th>
            <th>Total seats</th>
            <th>Seats</th>
            <th>
                Action
                <input type="button" class="btn btn-success btn-xs" id="btnAdd" value="+" style="float:right"/>
            </th>
        </tr>
        </thead>
        <tbody id="sessionList">
            <tr class="table-row"
                th:if="${sessionList != null}"
                th:each="item,iterationStatus : ${sessionList}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${item.movieName}"></td>
                <td th:text="${item.sessionDate}"></td>
                <td th:text="${item.totalSeats}"></td>
                <td th:text="${item.seats}"></td>
                <td>
                    <div class="btn-group">
                        <input type="button" class="btn btn-default" value="Edit" th:onclick="'gotoEdit(' + ${item.sessionId} + ')'" />
                        <a th:href="'/booking?id=' + ${item.sessionId}" class="btn btn-default">View</a>
                        <input type="button" class="btn btn-default" value="Delete" th:onclick="'deleteSession(' + ${item.sessionId} + ')'" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="../../resources/js/jquery.js"></script>
<script src="../../resources/js/bootstrap.js"></script>
<script src="../../resources/js/sessions.js"></script>

</body>
</html>