<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
</head>
<body>
<input type="text" th:field="${session.sessionId}">
<input type="text" th:field="${session.movieName}">
<input type="text" class="form-control" id="session.sessionDate" name="session.sessionDate" placeholder="session.sessionDate" value="session.sessionDate" required="true" autofocus=""
       th:value="${#temporals.format(session.sessionDate)}">
<!--<input type="text" th:id="sessionDate" th:name="sessionDate" th:field="${#dates.formatISO(session.sessionDate)}">-->
<!--, 'yyyy-MMM-dd'-->

</body>
</html>